{% extends 'base.html' %}



{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/others.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>About</title>
{% endblock %}

{% block body %}
	<body>

        <div class="jumbotron text-center">

            <div class="intro">
                <button type="button"><h1>OUR STORY</h1></button>
            </div>

        </div>

        <div class ="wrapper">
                    
            <h1 style="text-align: center;">About Us</h1>
            <article class="main2">

                <h2>The Dublin Bike Scheme</h2>
                <p> Whether you are a regular cyclist or an occasional user, Dublin Bikes has a range of services available.<br><br> 
                    This self-service bike rental system is open to everyone from 14 years of age. <br> 
                    Dublin Bikes enables you to travel through the city centre, commute between home and work and get out and about in Dublin.</p>
                <p> Whether you are a regular cyclist or an occasional user, Dublin Bikes has a range of services available. </p>

            </article>

            <article class="main3">

                <h1>Our Subscriptions</h1>

                <div class='parent2'>
          
                    <div class = 'sub1'>

                        <img src="{{url_for('static', filename='fixtures/bikenew1.jpg')}}" alt="sub1" style="width:150px; height: 150px;">

                        <hgroup>
                            <h2> Subscription 1</h2>
                            <h3> 3 Day Pass</h3>
                        </hgroup>

                        <p>For short term hire, a 3 Day pass will afford you all the benefits of the dublinbikes service. 
                            Ideal for tourists and visitors as a way of getting around and exploring the city.</p>
                        <p>The first 30 minutes of each journey is free.
                             After this rental charges are applied.</p>

                    </div>
                        
                    <div class = 'sub2'>

                        <img src="{{url_for('static', filename='fixtures/cyclists2.jpg')}}" alt="sub2"style="width:200px; height: 150px;">

                        <hgroup>
                            <h2> Subscription 2</h2>
                            <h3> Annual Pass</h3>
                        </hgroup>

                        <p>With an Annual Subscription you can rent a bike 365 days a year for an annual fee of €35. This is perfect for active cyclists, or those who are looking to brighten up their daily commute to the office!</p>
                        <p>The first 30 minutes of each journey is free, after this rental charges apply.<br><br></p>

                    </div>

                    <div class = 'sub3'>

                    <img src="{{url_for('static', filename='fixtures/cyclists3.jpg')}}" alt="sub3" style="width:200px; height: 150px;">

                    <hgroup>
                        <h2> Subscription 3</h2>
                        <h3> Per Hour</h3>
                    </hgroup>

                    <p>Dublin BIkes are available to rent by the hour. Bikes can be collected and return to any station with a empty space.</p>
                    <p>This service option is independent of your annual subscription and will charge users 1 euro per hour.</p>

                    </div>

                </div>
                

            </article>

            <article class="main4">

                <h1 style="text-align: center;">Meet the Team!</h1>

                <div class='parent'>
                    
                    <div class = 'child1'>  <p style="font-family:cursive; font-size: 30px;">Mark</p>

                        <img src="{{url_for('static', filename='fixtures/mark4.jpg')}}" alt="Mark" style="width:200px; border-radius: 50%;"><br><br>

                        <p>Hi! My name is Mark. I joined the DublinBikes team in 2020. I come from a Science and Business background, 
                            having worked internationally within FinTech across the US, Europe, and Asia.<br><br>
                            I am currently working as part of a core team of 3, building out technology driven solutions for DublinBikes and our users.
                            I have always had an interest in tech and sport, so being able to combine both passions here at DublinBikes is a dream come true!
                        </p>

                    </div>
                        
                    <div class = 'child2'><p style="font-family:cursive; font-size: 30px;">Ellie</p>

                        <img src="{{url_for('static', filename='fixtures/ellie.jpg')}}" alt="Ellie" style="width:200px; border-radius: 50%;"><br><br>

                        <p>Hi! My name is Ellie. I joined the DublinBikes technology enablement team in 2020. Previously, I worked within the healthcare industry, working across Europe and Australia. I am passionate about helping others, and using technology to make better decisions and smarter predictions. <br><br>
                            I am currently exploring machine learning algorithms and predictive modelling to provide advanced insights and drive user engagement.
                        </p>

                    </div>

                    <div class = 'child3'><p style="font-family:cursive; font-size: 30px;">Alvaro</p>
                        
                        <img src="{{url_for('static', filename='fixtures/alvaro.jpg')}}" alt="Alvaro" style="width:200px; border-radius: 50%;"><br><br>

                        <p>Hi! My name is Alvaro. Coming from an engineering background, I have always been passionate about technology, design, and providing customers with smarter solutions. I am currently based in Madrid, where I have seen the expansive and popularity of similar biking schemes. <br><br>
                            I am currently working as part of a core team of 3, building out technology driven solutions for DublinBikes and our users. No two days are the same-working on front end design or building complex database management systems, Dublinbikes has it all! 
                        </p>
                    
                    </div>

                </div>

            </article>

            <article class="main5">

                <h1>Socials!</h1>

                <div class='parent1'>
                    
                    <div class = 'child4'> <a href="https://www.instagram.com/dublinbikes/" target="_blank"> 

                        <img src="{{url_for('static', filename='fixtures/instagram_black.png')}}" alt="insta"></a>

                    </div>
                        
                    <div class = 'child5'>

                        <a href="https://www.twitter.com/?hl=en" target="_blank"><img src="{{url_for('static', filename='fixtures/blacktwitter.png')}}" alt="twitter"></a>

                    </div>

                    <div class = 'child6'><a href="https://www.facebook.com/" target="_blank">

                        <img src="{{url_for('static', filename='fixtures/blackfacebook.png')}}" alt="fb"></a>

                    </div>
                </div>

            </article>

        </div>		  
	</body>

{% endblock %}