<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/navbars.css') }}">
   <script src="https://www.gstatic.com/charts/loader.js"></script>
   <script type=text/javascript src="{{url_for('static', filename='js/viewPhone.js') }}"></script>
   {% block head %}{% endblock %}
</head>
<body>
   <div class="content">
      <nav id="nav-bar" class="nav-light-mode">
         <div>   
            <a class="logo">
               <img src="{{url_for('static', filename='fixtures/icon-bike-red.png')}}" width='35', height='35'/>
               <img src="{{url_for('static', filename='fixtures/icon-bike-yellow.png')}}" width='35', height='35' />
               <img src="{{url_for('static', filename='fixtures/icon-bike-green.png')}}" width='35', height='35' />
               <h2 id="logo-navbar">DBIKES</h2>
            </a>
         </div>
         <ul class="nav-links">
            <li><a href='/'>MAP</a></li>
            <li><a href='/predictions'>PREDICTIONS</a></li>
            <li><a href='/how_it_works'>HOW IT WORKS</a></li>
            <li><a href='/about'>ABOUT</a></li>
         </ul>
         <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
         </div>
      </nav>
      {% block body %}{% endblock %}
      <footer>
         <div id="container-footer" class="footer-light-mode"> 
             <div class="rights">DBIKES | Copyright 2021 | All rights reserved</div>
             <ul class="footer-links">
                 <li><a href='/'>Map |</a></li>
                 <li><a href='/predictions'>Predictions |</a></li>
                 <li><a href='/how_it_works'>How it works |</a></li>
                 <li><a href='/home'>About</a></li>
             </ul>
         </div>
     </footer>
   </div>
   <script src="{{url_for('static', filename='js/navbarAnimation.js')}}"></script>
   {% block scripts %}{% endblock %}
</body>
</html>